body{
    padding: 0em 0em 22em 0em;
    overflow: auto;
    background-color: #77819d;
    margin: 0px
}

.titulo{
    background-color: #8d97b2;
}

header{
    font-size: 50px;
    color: white;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;

    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;

    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;

    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;

    
}

.voltar{
    display: flex;
    margin: 0.4em 0em 2em 0em;
    padding: 0.2em;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: rgba(250, 250, 250, 0.822);
    border-radius: 6px;
    cursor: pointer;
}

h1{
    color: white;
}

.conteudo{
    display: flex;
}

.waves img{
    height: 240px;
    border: 10px solid rgb(252, 254, 255, 0.5);
    border-radius: 12px;
}

.waves{
    font-size: 18px;
    color: white;
    padding: 0em 16em 0em 0em;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.tranca img{
    height: 240px;
    border: 10px solid rgb(252, 254, 255, 0.5);
    border-radius: 12px;
}

.tranca{
    font-size: 18px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 0em 18em 0em 0em;
    color: white;
}


.nudred img{
    height: 240px;
    border: 10px solid rgb(252, 254, 255, 0.5);
    border-radius: 12px;
}

.nudred{
    font-size: 18px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 0em 0em 0em 0em;
    color: white;
}

.par2{
    padding-top: 4%;
    display: flex;
}


.locs img{
    height: 260px;
    border: 10px solid rgb(252, 254, 255, 0.5);
    border-radius: 12px;
}

.locs {
    font-size: 18px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 0em 5em 0em 0em;
    color: white;
}

.twists img{
    height: 240px;
    border: 10px solid rgb(252, 254, 255, 0.5);
    border-radius: 12px;
}


.twists {
    font-size: 18px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    padding: 0em 8em 0em 0em;
    font-style: normal;
    color: white;
}

.trancaBox img{
    height: 240px;
    border: 10px solid rgb(252, 254, 255, 0.5);
    border-radius: 12px;
}

.trancaBox{
    font-size: 18px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 0em 0em 0em 0em;
    color: white;
}

@media only screen and (max-width: 768px) {
    header{
        font-size: 30px;
    }

    body{
        margin: 1em;
    }

   img{
    height: 200px;
   }
   
    .voltar{
        font-size: 24px
    }

    .titulo{
        background-color: #77819d;
        font-style: normal;
        font-family: "PT Serif", serif;
        font-weight: 700;
    }

    .conteudo{
        display: grid;
        text-align: justify;
    }

    .par2{
        display: grid;
        text-align: justify;
    }

    .nudred{
        width: 80%;
        text-align: center;
        padding: 0em 0em 0em 1.5em;
    }

    .locs{
        width: 80%;
        text-align: center;
        padding: 0em 0em 0em 1.5em;
    }

    .trancaBox{
        width: 80%;
        text-align: center;
        padding: 0em 0em 0em 1.5em;
    }

    .waves{
        width: 80%;
        padding: 0em 0em 0em 1.5em;
        text-align: center;
    }

    .tranca{
        padding: 0em 0em 0em 1.5em;
        width: 80%;
        text-align: center;
    }

    .twists{
        width: 80%;
        padding: 0em 0em 0em 1.5em;
        text-align: center;
    }
    
    .waves img{
        height: 200px;
    }

    .tranca img{
        height: 200px;
    }

    .nudred img{
        height: 200px;
    }

    .trancaBox img{
        height: 200px;
    }

    .locs img{
        height: 200px;
    }

    .twists img{
        height: 200px;
    }
}
