body{
    padding: 0em 0em 80em 0em;
    overflow: auto;
    background-color: #77819d;
    margin: 0px
}

.titulo{
    background-color: #8d97b2;
}


header{
    font-size: 50px;
    color: white;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;

    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;

    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;

    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;

    
}

h1{
    font-size: 18px;
    color: white;
    padding: 0em 16em 0em 0em;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.voltar{
    display: flex;
    margin: 0em 0em 2em 0em;
    padding: 0.2em;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: rgba(250, 250, 250, 0.822);
    border-radius: 6px;
    cursor: pointer;
}

.estilos{
    padding-top: 2em;
    display: flex;
    gap: 22px;
}

.estilos img{
    height: 240px;
    border: 10px solid rgb(252, 254, 255, 0.5);
    border-radius: 12px;
    padding: 0em 0em;
}

.estilos p {
    font-size: 18px;
    color: white;
    line-height: 1.5;
    word-wrap: break-word; 
    width: 230px;
}

.description {
    display: none; /* Inicialmente, a descrição está escondida */
    margin-top: 10px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5); /* Fundo branco com opacidade */
    border-radius: 5px;
    width: 200px;
    text-align: left;
}

.arrow {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    color: white;
}

.int{
    color: white;
    font-size: 20px;
}

.outros{
    padding-top: 4em;
    display: flex;
}

.escritos{
    padding: 6em 0em;
}

.escritos p{
    color: white;
    font-size: 18px; 
    width: 600px;
}

.escritos header{
    border-top: solid white 2px ;
}